.vscode/**
.github/**
.airchetipo/**
.claude/**
.ralph-tui/**
.idea/**
src/**
test/**
docs/**
node_modules/**
out/**/*.map
.gitignore
.opencode/**
esbuild.config.js
tsconfig.json
vitest.config.ts
CLAUDE.md
tmpclaude-*
**/*.vsix
**/*.jpg
**/*.jpeg
b1384c0e-3796-439d-b293-054a6edd79e9.jpg
CONTRIBUTING.md
package-lock.json
