.vscode/**
.github/**
.airchetipo/**
.claude/**
.ralph-tui/**
.idea/**
src/**
test/**
docs/**
node_modules/**
out/**/*.map
.gitignore
.opencode/**
esbuild.config.js
tsconfig.json
vitest.config.ts
CLAUDE.md
tmpclaude-*
**/*.vsix
**/*.jpg
**/*.jpeg
CONTRIBUTING.md
package-lock.json
